<div class="card" *ngIf="userMod">

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">ID</span>
        </div>
        <input type="text" class="form-control" placeholder="{{ userMod.id }}" [disabled]="true">
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">EMAIL</span>
        </div>
        <input [(ngModel)]="userMod.email" placehorlder="email" class="form-control" [disabled]=userMost>
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">PASSWORD</span>
        </div>
        <input [(ngModel)]="userMod.password" placehorlder="password" class="form-control" [disabled]=userMost>
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">NAME</span>
        </div>
        <input [(ngModel)]="userMod.name" placehorlder="name" class="form-control" [disabled]=userMost>
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text">AGE</span>
        </div>
        <input [(ngModel)]="userMod.age" placehorlder="age" class="form-control" [disabled]=userMost>
    </div>

</div>