.num, .oper { 
    display: inline-block;
    width: 60px; 
	height: 40px; 
	border-width: 3px;
	border-style: double;
	background-color: ghostwhite;
	margin: 3px;
	text-align: center;
	font-size: 2em;
}
.oper{
	font-weight: bold;
}
.res {
    width: 309px; 
	height: 40px;
	border-width: 3px;
	font-size: 2em;
}
